*.pyc
*.log
*.pid
.DS_Store
.coverage
db.sqlite3
nohup.out
*.swp
*.swo
media/*
config/config.py
.idea/
src/*
node_modules/*
dump.rdb
celerybeat-schedule.db

*/migrations/*
*/*/migrations/*
config/base.py
